.container-editName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-container-editName {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.bottom-container-editName {
  display: flex;
  justify-content: space-around;
  width: 15%;
}
