.container-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.transactionLine {
  cursor: pointer;
}

.icon-write {
  width: 1.4rem;
  height: 1rem;
}

.modification-transactions {
  display: flex;
  align-items: center;
}
