.container-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 26rem;
  background-color: #12002b;
  justify-content: center;
}

.container-collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.transactionLine {
  cursor: pointer;
}

.icon-write {
  width: 1.4rem;
  height: 1rem;
  mix-blend-mode: color-burn;
  cursor: pointer;
}

.modification-transactions {
  display: flex;
  align-items: center;
}

tbody {
  /* border-top: solid 0.1rem; */
  border-right: solid 0.1rem;
  border-left: solid 0.1rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00bc78;
}

thead {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr {
  display: flex;
  width: 50rem;
  height: 4rem;
  border-bottom: black solid 0.1rem;
  justify-content: space-around;
  align-items: center;
}

tr.container-collapse {
  padding: 0rem 0rem 0rem 3.4rem;
}

td.transactionLine {
  font-weight: 500;
  font-size: 17px;
  color: white;
  width: 100%;
}

.titleColumn {
  font-weight: bold;
  font-size: 20px;
  color: white;
  width: 100%;
}

.container-transactionLines {
  background-color: white;
}
