.container-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.transactionLine {
  cursor: pointer;
}
